# Misc
.cache
.DS_Store

# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.hprof
*.hprof.idom
hs_err_pid*

# Maven
target/

# Unignore gradle configuration directory.
!/gradle
!gradle-wrapper.jar
!gradle-wrapper.properties

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Intellij
.idea/*
!.idea/icon.svg
!.idea/icon_dark.svg
!.idea/icon.png
!.idea/icon_dark.png
!.idea/icon.ai
!.idea/icon_dark.ai
*.iws
out/
*.iml
*.ipr

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.factorypath
.recommenders/
.apt_generated/
.apt_generated_test/

# Sublime Text
/*.sublime-workspace
