# macOS
*.DS_Store

# Java
*.class
*.jar
hs_err_pid*
*.hprof
*.hprof.idom

# devenv
# Ignore all subdirectories, because they are nested Git repositories.
/*/
# Unignore files in subdirectories, so that they do not show up as ignored in IntelliJ. Git will not track files in nested Git repositories.
!/*/**
# Unignore gradle wrapper subdirectory.
!/.gradlew
# Unignore GitHub actions workflow subdirectory.
!/.github

# Gradle
/.gradle
/build
!.gradlew/wrapper/gradle-wrapper.jar

# IntelliJ
/.idea
/out

# Eclipse
/.project
/.settings
/.classpath
/.factorypath
/bin

# Sublime Text
/*.sublime-workspace
